.dark {
  // стрелки
  --images-arrow: url('../../images/arrow-blue.svg');

  // календарь
  --color-text: #ffffff;
  --color-placeholder: rgba(255, 255, 255, 0.5);
  --color-additional: #93b1ff;
  --color-additional7: rgba(147, 177, 255, 0.7);
  --background-color-calendar: #3a3e42;
  --background-color-calendar-header: #575c63;
}